bin
obj
.suo
/src/Flow.sln.DotSettings.user
/src/.vs
/src/.env
/.vs
/src/l3/CommandLine/Flow.Hosts.Accountant.Cli/Flow.Hosts.Accountant.Cli.csproj.user
/src/l3/CommandLine/Flow.Hosts.Analysis.Cli/Properties/launchSettings.json
