bin
obj
.suo
/src/Flow.sln.DotSettings.user
/src/.vs
/src/.env
/.vs
/src/l3/CommandLine/Flow.Hosts.Analysis.Cli/Properties/launchSettings.json
/docs/samples/aggregation_rules.csv
/build
launchSettings.json
appsettings.Development.json
*.pubxml.user
*.csproj.user
/src/plugins/transactions/Flow.Plugins.Transactions.TKF/.vs
.idea
